.dropContainer {
  position: fixed; /* Sabit pozisyon */
  bottom: 0; /* Ekranın altına hizala */
  left: 0; /* Sol kenardan hizala */
  width: 100%; /* Tam genişlik */
  height: 80px; /* Yükseklik */
  background-color: transparent; /* Şeffaf arka plan */
  z-index: 10; /* Diğer içeriklerin üstünde kalır */
  overflow: hidden; /* Taşan içerikleri gizle */
}
