.main-content {
  min-height: calc(100vh - 80px); /* Drop'un yüksekliği kadar alan bırak */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box; /* Padding dahil */
  background-color: #fff; /* Arka plan rengi */
}
