.container {
  text-align: center;
  padding: 40px 20px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #3ffe05;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgb(255, 2, 242);
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #0070f3;
}

.description {
  font-size: 18px;
  margin-bottom: 30px;
  color: #555555;
}
